<div class="container-fluid">
  <h2>registration Form</h2>
  <form [formGroup]="registrationForm">
      {{registrationForm.value | json}}
    <div class="form-group">
      <label>Username</label>
      <input 
      [class.is-invalid]="userName.invalid && userName.touched"
      formControlName="userName" type="text" class="form-control">
      <!-- <small 
      [class.d-none]="userName.valid || userName.untouched"
      class="text-danger">Username is required </small> -->
      <div *ngIf="userName.invalid && userName.touched ">
     <small *ngIf="userName.errors?.required" class="text-danger">Username is required</small>
     <small *ngIf="userName.errors?.minlength" class="text-danger">Username must be at least 3 charecters</small>
     <small *ngIf="userName.errors?.forbiddenName" class="text-danger">{{userName.errors?.forbiddenName.value}} Username not allowed </small>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input [class.is-invalid]="email.invalid && email.touched" type="text" formControlName="email" class="form-control">
       <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>

    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" type="password" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Password do not match</small>
    </div>

    <div formGroupName="address">

        <div class="form-group">
            <label>City</label>
            <input formControlName="city" type="text" class="form-control">
          </div>
      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>

      
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API data</button>
  </form>
  
</div>
